{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "indent": ["error", 4],
        "no-trailing-spaces": "error",
        "quotes": ["error", "single"],
        "jsx-quotes": "error",
        "semi-spacing": "error",
        "comma-spacing": "error",
        "block-spacing": "error",
        "comma-dangle": ["error", "always-multiline"]
    },
    "overrides": [
        {
            "files": [
                "**/*.types.ts"
            ],
            "rules": {
                "indent": ["error", 4],
                "no-trailing-spaces": "error",
                "quotes": ["error", "single"],
                "jsx-quotes": "error",
                "semi-spacing": "error",
                "comma-spacing": "error",
                "block-spacing": "error",
                "comma-dangle": ["error", "always-multiline"]
            }
        }
    ]
}
